body{
    margin: 0 auto;
    width: auto;
    /* background-color: antiquewhite; */
}
#container{
    width: auto;
    height: auto;
    margin: 0 auto;
    background-color: blueviolet;
}

.letterbox{
    height: 50px;
    width: 50px;
    border: solid black 1px;
    display: inline-block;
    margin: 3px;
    border-radius:  10px;
    background-color: rgb(255, 249, 242);
    font-size: 40px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: rgb(0, 0, 0);
}

h1{
    color: crimson;
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
}

.letterContainer{
    margin: 0 auto;
    width: 308px;
    height: 340px;
}

