body{
    margin: 0 auto;
    /* background-color: antiquewhite; */
}
.container{
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    border: solid black 1px;
}

.letterbox{
    height: 50px;
    width: 50px;
    border: solid black 1px;
    display: inline-block;
    margin: 3px;
    border-radius:  3px;
    background-color: antiquewhite;
}

.lettercontainer{
    margin-top: 150px;
    margin-left: 250px;
    width: 290px;
    height: 300px;
    border-radius:  10px;
    background-color: rgb(236, 236, 236);
}

#title{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

#playerinput{
    position: absolute;
    margin-left: 220px;
    margin-top: 110px;
}